/** reset style for all elements **/
/** start **/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/** end **/

/** declare general colors that we will use **/
/** start **/
:root{
    --mainColor: #FB8F1D;
    --mainText: #202336;
    --subText: #B8BECD;
}
/** end **/

/** body style that will inheirt for all elements **/
/** start **/
body{
    font-family: 'Inter', sans-serif;
    height: 5000px;
}
/** end **/

/** reset all ul elements style **/
/** start **/
ul{
    list-style: none;
    display: flex;
}
/** end **/

/** reset style for all anchor tags **/
/** start **/
a{
    text-decoration: none;
}
/** end **/

/** general style for container **/
/** start **/
.container{
    width: 80%;
    margin: auto;
}
/** end **/

/** general style for all btn **/
/** start **/
.btn{
    border: none;
    outline: none;
    width: 132px;
    border-radius: 8px;
    padding: 15px;
    cursor: pointer;
    border: 1px solid var(--mainColor);
    transition: all 0.3s;
}
.btn.main-btn{
    color: white;
    background-color: var(--mainColor);
}
.btn.main-btn:hover{
    transition: all 0.3s;
    color: var(--mainColor);
    background-color: white;
}
.btn.sub-btn{
    color: var(--mainColor);
    background-color: white;
    margin-right: 18px;
}
.btn.sub-btn:hover{
    color: white;
    background-color: var(--mainColor);
}
/** end **/


/** navbar style **/
/** start **/
.navbar{
    padding-top: 35px;
}
.navbar  .layout{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar  .layout .logo img{
    transform: scale(1.8);
    margin-top: 4px;
}
.navbar  .layout .nav-list{
    margin-left: auto;
}
.navbar  .layout .nav-list .nav-link{
    font-size: 16px;
    line-height: 19px;
    color: var(--subText);
    margin-right: 35px;
    cursor: pointer;
    transition: all 0.3s;
}
.navbar  .layout .nav-list .nav-link:hover{
    transition: all 0.3s;
    color: var(--mainText);
}
.navbar  .layout .nav-list .nav-link.active{
    color: var(--mainText);
}
/** end **/

/** hero section style **/
/** start **/
.hero-sec .layout{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero-sec .layout .right-side{
    width: 50%;
}
.hero-sec .layout .left-side h2{
    margin-top: 100px;
    margin-bottom: 64px;
    font-weight: bold;
    font-size: 64px;
    line-height: 80px;
    color: var(--mainText);
    cursor: default;
    transition: all 0..3s;
}
.hero-sec .layout .left-side h2:hover{
    color: var(--mainColor);
    transition: all 0..3s;
}
.hero-sec .layout .left-side .search-holiday-form .form-title{
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    color: var(--mainText);
    padding-bottom: 21px;
    position: relative;
}
.hero-sec .layout .left-side .search-holiday-form .form-title::before{
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 32px;
    background-color: var(--mainText);
}
.hero-sec .layout .left-side .search-holiday-form .select-grid{
    display: grid;
    column-gap: 25px;
    row-gap: 30px;
    grid-template-columns: 1fr 1fr;
    margin-top: 71px;
    margin-bottom: 47px;
}
.hero-sec .layout .left-side .search-holiday-form .select-grid select{
    padding: 15px;
    outline: none;
    border: 1px solid var(--subText);
    border-radius: 6px;
    color: var(--mainText);
    font-weight: 200;
    appearance: none;
    width: 220px;
    appearance: none;
    background-image: url('./../images/select-arrow.png');
    background-repeat: no-repeat;
    background-position: 92%;
    cursor: pointer;
}
.hero-sec .layout .right-side{
    padding-top: 55px;
}
.hero-sec .layout .right-side img{
    max-width: 630px;
}
/** end **/

/** explore way section style **/
/** start **/
.explore-way-sec{
    margin-top: 190px;
    margin-bottom: 190px;
}
.explore-way-sec .layout{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.explore-way-sec .layout .right-side{
    padding-left: 102px;
}
.explore-way-sec .layout .right-side h3{
    font-weight: bold;
    font-size: 36px;
    line-height: 50px;
    color: var(--mainText);
    margin-bottom: 20px;
    cursor: default;
    transition: all 0.3s;
}
.explore-way-sec .layout .right-side h3:hover{
    transition: all 0.3s;
    color: var(--mainColor);
}
.explore-way-sec .layout .right-side p{
    font-weight: 300;
    font-size: 17px;
    line-height: 30px;
    color: var(--mainText);
    opacity: 0.8;
    margin-bottom: 30px;
}
/** end **/

/** featured destination style **/
/** start **/
.featured-destination-sec .sec-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}
.featured-destination-sec .sec-head h3{
    color: var(--mainText);
    font-weight: bold;
    font-size: 36px;
    line-height: 50px;
    cursor: default;
    transition: all 0.3s;
}
.featured-destination-sec .sec-head h3:hover{
    transition: all 0.3s;
    color: var(--mainColor);
}
.featured-destination-sec .sec-head a{
    color: var(--mainColor);
    font-weight: 600;
    font-size: 17px;
    line-height: 60px;
}
.featured-destination-sec .sec-head a:hover img{
    transition: all 0.3s;
    transform: translateX(8px);
}
.featured-destination-sec .sec-head a img{
    transition: all 0.3s;
}
.featured-destination-sec .items{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 25px;
}
.featured-destination-sec .items .item{
    border-radius: 8px;
    overflow: hidden;
    position: relative;
}
.featured-destination-sec .items .item:hover img{
    transition: all 0.3s;
    transform: scale(1.2);
}
.featured-destination-sec .items .item img{
    width: 100%;
    transition: all 0.3s;
}
.featured-destination-sec .items .item .item-title{
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 0 8px;
    background-color: white;
    height: 56px;
    width: 120px;
    padding-top: 15px;
}
.featured-destination-sec .items .item .item-title h5{
    color: var(--mainText);
    cursor: default;
    transition: all 0.3s;
}
.featured-destination-sec .items .item .item-title h5:hover{
    transition: all 0.3s;
    color: var(--mainColor);
}
.featured-destination-sec .items .item .item-title span{
    color: var(--subText);
    cursor: default;
}
/** end **/